.repo {
    margin: 6rem 0;
}
a {
    text-decoration: none;
}
.repo-container {
    margin: 4rem 0;
    position: relative;
}
h5 { 
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
p {
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 400;
}
.repo-content {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    justify-self:center;
}
.repo-content .repo {
    margin: 2rem;
    border-radius: 3rem;
    border: 2px solid rgba(182, 73, 207, 0.9);
    width: fit-content;
    height: fit-content;
    transition: 0.7s;
    cursor: pointer;
    overflow: hidden;
}
.repo-content .repo img {

    width: 400px;
    height: 300px;
}
.repo-content .repo:hover {
    transform: translateY(-1rem);
    box-shadow: 0 5px 9px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h6 {
    font-size: 1.5rem;
    font-weight: 1000;
    word-spacing: 4px;
    color: white;
    margin-top: 0.5rem;
}
.repo-content .repo p {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

@media (max-width:1020px){
    .repo-content {
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
}
@media (max-width:768px){
.repo-content .repo img {
    width: 250px;
    height: 200px;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
    }
}
