.experience-container {
    margin: 6rem 0 ;
    position: relative;
    height: max-content;
}
.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.slick-list {
    width:1000px;
    height: 400px;
}


.slick-next::before {
    position: relative;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev::before {
    position: relative;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .experience-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}
@media (max-width:1285px) {
    .slick-list {
    width:500px;
    height: 300px;
}
}
@media (max-width:650px) {
    .slick-list {
    width:400px;
    height: 300px;
}
}
@media (max-width:550px) {
    .slick-list {
    width:300px;
    }
   .experience-content {
    justify-content: flex-start;
   } 

}
@media (max-width:460px) {
    .slick-list {
    width:200px;
    height: 300px;
}
}